.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(70, 46, 59, 0.94);
    background-color: rgba(143, 95, 120, 0.09);
    padding: 30px 50px;
    font-size: 15px;
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.formContainer button{
    color: black;
    background-color: rgba(201, 181, 192, 0.54);
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    height: auto;   
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.formContainer label{
    border-radius: 15px; 
    box-sizing: border-box;
    margin-top: 1%;
    font-size: 20px;
}

.formContainer input{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-sizing: border-box;
    margin-top: 1%;
    padding: 4%;
    font-size: 20px;
}

.formContainer span{
    font-size: 22px;
    margin-bottom: 5%;
    font-weight: bold;
}

@supports (-webkit-touch-callout: none) {
    .formElementContainer{
        margin-top: 15%;
    }
  }

  @-moz-document url-prefix() {
    .formElementContainer{
        margin-top: 15%;
    }
  }